body {
	background-image: url('clouds.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
}



.title {
	display: flex;
	color: blue;
	font-family: courier ;
	width: 250px;
	border: 25px black;
	margin: 25px;
	border-radius: 20px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: black;
	text-align: center;
}




#tweets {
	background-color: white;
	width: 30%;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
}